.message {
  width: 30px;
  padding: 15px;
  margin: 10px 25px;
  border-radius: 5px;
  display: inline-block !important;
  clear: both;
}

.right {
  background-color: gray;
  float: right;
  word-wrap: break-word;
}

.left {
  background-color: rgb(255, 180, 180);
  float: left;
  word-wrap: break-word;
}
